body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
}

body,
html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
/* Create a Parallax Effect */

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* First image (Logo. Full height) */

.bgimg-1 {
    background-image: url("../img/suh1.jpg");
    min-height: 30%;
}
/* Second and Third image (Portfolio and Contact) */

.bgimg-2 {
    background-image: url("../img/bg.png");
    min-height: 25%;
}

.bgimg-3 {
    background-image: url("../img/suh1.jpg");
    min-height: 25%;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}

.bmc {
    width: 150px;  /* Set the width of the image */
    height: 150px; /* Set the height of the image */
    border: 1px solid #ccc; /* Add a border */
    margin: 10px;   /* Add some margin around the image */
    display: block; /* Make the image display as a block element */
}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}

/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1600px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
        min-height: 400px;
    }
}

.logo {
    display: block;
    margin: 0px auto;
}
.container-1 {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section-c {
    margin: 20px 0;
}
h2 {
    color: #007BFF;
    margin-bottom: 10px;
}

.custom-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.custom-section {
    margin: 20px 0;
}
.custom-title {
    color: #007BFF;
    margin-bottom: 10px;
}
.custom-table {
    width: 100%;
    border-collapse: collapse;
}
.custom-table th, .custom-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
.custom-table th {
    background-color: #007BFF;
    color: white;
}
.custom-behavioral-list {
    list-style-type: none;
    padding: 0;
}
.custom-behavioral-list li {
    background: #28a745;
    color: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}